@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

.boxing{
    border: 2px solid red;
}
.mainbox{
    height: 60%;
}
.titlebox{
    color: #FFF;
    font-family: 'Staatliches', cursive;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 50%;
}
.supheader{
    margin: 0;
    font-size: 60px;
}
.Imtext{
    margin: 0;
    padding: 0;
    font-size: 60px;
    box-sizing: border-box;
}
.myname{
    line-height: 0.7;
    margin: 0;
    font-size: 150px;
}
.findoutbuttonbox{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headerbutton{
    font-family: 'Staatliches', cursive;
    color: #484848;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    margin: 0 30px;
    height: 75px;
    width: 200px;
    transition: 0.8s;
    position: relative;
    background: #fff;
    overflow: hidden;
}

.headerbutton:hover{
    color: #fff;
    background-color: #68a4ff;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    background: #3586ff;
}

section .wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: url(images/wave.png);
    background-size: 1000px 100px;
}
section .wave.wave1{
    animation: animate 30s linear infinite;
    z-index: 1000;
    opacity: 1;
    animation-delay: 0s;
    bottom: 0;
}
section .wave.wave2{
    animation: animate2 15s linear infinite;
    z-index: 999;
    opacity: 0.5;
    animation-delay: -5s;
    bottom: 10px;
}
section .wave.wave3{
    animation: animate 15s linear infinite;
    z-index: 998;
    opacity: 0.2;
    animation-delay: -2s;
    bottom: 15px;
}
section .wave.wave4{
    animation: animate2 25s linear infinite;
    z-index: 997;
    opacity: 0.7;
    animation-delay: -5s;
    bottom: 20px;
}
.subsec{
    height: 900px;
    width: 100%;

}
.white{
    background-color: #fff;
}
.subsecheading{
    text-align: center;
    color: #484848;
    font-family: 'Staatliches', cursive;
    font-size: 50px;
    text-decoration-line: underline;
    text-decoration-color: #3586ff;
}
.projects{
    height: 700px;
}
.section1{
    height: 50%;
}
.cardbright{
    height: 100%;
    width: 50%;
}
.cardsmall{
    height: 100%;
    width: 35%;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}
@keyframes animate2
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: -1000px;
    }
}
